*{
    padding: 0;
    margin: 0;
}

body {
    padding: 10px 90px;
}

.main-div {
    border: 1px solid;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.main-div h1 {
    font-size: 50px;
}

.main-div input {
    padding: 12px 30px;
    margin-top: 15px;
    /* width: 80%; */
    border: 1px solid slategray;
    border-radius: 7px;
    font-size: 18px;
}

.main-div select {
    padding: 12px 30px;
    border: 1px solid slategray;
    border-radius: 7px;
    font-size: 18px;
}
.main-div button {
    padding: 14px 30px;
    border: 1px solid slategray;
    background-color: #4caf5d ;
    border-radius: 7px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}


 h2 {
   font-size: 35px;
   margin-top: 30px;
   padding-bottom: 20px;
 }

#expense-table {
    border-collapse: collapse;

}

#expense-table th,td {
    border: 1px solid #ddd ;
    background-color: #4caf5d ;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: left;
    font-size: 22px;
    font-weight: 800;
    color: white;
}