*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu";
}

.navbar {
    height: 75px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid; */
}

.navbar1{
    /* border: 1px solid; */
    margin-left: 85px;
    margin-bottom: 10px;
}

.navbar2{
    height: 59px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin-right: 100px;
    color: #434345;
}

.navbar2 ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 650px;
    list-style-type: none;
}

.navbar2 ul a {
    text-decoration: none;
    color: #212121ee;
    font-weight: 900;
    font-size: 16px;
}

.main-display{
    height: 580px;
    width: 100%;
    /* border: 1px solid; */
    background-image: url(image/background1.jpg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    /* padding: 20px 20px; */
    

}

.maincontent1{
    height: 540px;
    /* width: 100%; */
    background-color: rgba(54, 149, 235, 0.8);
    /* border: 1px solid red; */
    padding: 20px 40px;
    display: flex;
    /* justify-content: center; */
    gap: 30px;
    overflow: hidden;
}

.maincontent1 img {
     height: 560px;
     width: 44%;
     margin-left: 140px;
     /* border: 1px solid; */

}

.maincontent1 .text{
    /* border: 1px solid; */
    padding: 20px 0px;
    word-spacing: 1px;
}

.text h2 {
    font-size: 37px;
    font-size: 900;
    color: #fff;
    padding: 20px 0px;
    margin-top: 55px;
    margin-left: 14px;
    /* border: 1px solid; */
}

.text #dr-1{
    margin: none;
    /* border: 1px solid; */
    position: relative;
    bottom: 90px;
    font-size: 21.5px;
    word-spacing: 1px;
    letter-spacing: .3px;
    /* margin-left: 2px; */

}

.text p {
    position: relative;
    bottom: 95px;
    margin-left: 60px;
    font-size: 14.5px;
    color: #e8e8e8;
    letter-spacing: .5px;
}



.btn-div #btn1 {
    padding: 14.9px 15px;
    border: 2px solid #1cd8a1;
    font-size: 13.5px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #1cd8a1;
    word-spacing: 2px;
    position: relative;
    bottom: 50px;
    margin-left: 13px;
}

.btn-div #btn1:hover{
    background-color: #fff;
    color: #434345;
    border-color: #fff;
    transition: all .4s ease-out;
}

.btn-div #btn2 {
    padding: 14.9px 29px;
    position: relative;
    bottom: 50px;
    border: 2px solid white;
    font-size: 13.5px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    color: #fff;
    background-color: transparent;
    word-spacing: 2px;
    margin-left: 30px;
}
.btn-div #btn2:hover{
    background-color: #fff;
    color: #434345;
    border-color: #fff;
    transition: all .4s ease-out;
}



.slick-next.slick-arrow{
    /* font-size: 30px; */
    color:white;
    background-color: transparent;
    margin-right: 140px;
}
.slick-prev.slick-arrow{
    /* font-size: 30px; */
    color: black;
    background-color: transparent;
    margin-left: 140px;
}

.slick-next.slick-arrow::before{
    font-size: 50px;
    /* content: ">"; */
}
.slick-prev.slick-arrow::before{
    font-size: 50px;
}
/* .slick-prev:before, .slick-next:before{
    font-family: 'slick';
    font-size: 20px;
} */


#section-one {
    /* height: 650px; */
}

#section-one .main-div {
    /* border: 1px solid ; */
    padding: 90px 60px 150px 60px;
    display: flex;
    justify-content: space-between;
}

#section-one .main-div .content1{
    /* border: 1px solid red; */
    padding: 20px 0px;
    /* text-align: center; */
}

#section-one .main-div .content1 h1 {
    font-size: 45px;
    font-weight: 900;
    color: rgb(67 67 69);
    padding-bottom: 26px;
    margin-left: 20px;
}

#section-one .main-div .content1 p {
    text-align: start;
    margin-left: 20px;
    font-size: 14.6px;
    word-spacing: 1.8px;
    letter-spacing: .1px;
    color: #434345;
    line-height: 23px;
    margin-top: 45px;
    padding: none;
}

#section-one .main-div .content2{
    /* border: 1px solid yellow; */
    height: 60px;
    padding-right: 10px;
    padding-top: 10px;
}

#section-one .main-div .content2 img {
    width: 573px;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15)
}

/* section2 */

#section-two .main-div {
    /* border: 1px solid; */
    background-color: #e8f1fa;
    text-align: center;
    /* height: 600px; */
    padding: 90px 0px 40px 0px;

}

#section-two .main-div h1 {
    font-size: 45px;
    color: #434345;
    padding-bottom: 20px ;
    /* margin-top: 100px; */

}

#section-two .main-div .main-content {
    /* width: 400px; */
    /* border: 1px solid ; */
    margin-top: 70px;
    padding: 10px 78px 0px 70px;
    display: flex;
    justify-content: space-between;

}

#section-two .main-div .main-content .content1 {
    /* width: 380px; */
    height: 200px;
    /* border: 1px solid red; */
}

#section-two .main-div .main-content .content1 .header-div1{
    /* border: 1px solid; */
    text-align: left;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    width: 290px;
    letter-spacing: 1.5px;
    color: #434345;
    /* margin-right: 125px; */

}

#logo11{
    font-size: 28px;
    color: #3695eb;
    /* font-weight: 100; */
}

#section-two .main-div .main-content .content1 .main-div1{
    /* border: 1px solid ; */
    padding-left: 15px;
    font-size: 15px;
    letter-spacing: .2px;
    line-height: 23px;
    text-align: left;
    margin-top: 20px;
    color: #434345;
}

/* section3 */

#section-three{
    padding-top: 90px;
    padding-bottom: 100px;
}

#section-three .main-div{
    /* height: 200px; */
    /* border: 1px solid; */
    text-align: center;
    padding: 0px 15px;
    margin: 0px 69px
}

#section-three .main-div h1 {
    font-size: 45px;
    color: #434345;
    margin-top: 20px;
    padding-bottom: 28px;
}

#section-three .main-div p {
     font-size: 15px;
     color: #434345;
     padding-top: 40px;
     margin-top: 15px;
     letter-spacing: .3;
     word-spacing: 1px;
}

#section-three .main-div .content-div {
    /* height: 300px; */
    margin-top: 69px;
    /* border: 1px solid red; */
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
    padding: 0px 120px 0px 99px;
    gap: 10px;
}

#section-three .main-div .content-div .image1{
    padding: 0px 20px;
    text-align: left;
}

#section-three .main-div .content-div .image1 img {
    height: 332px;
    width: 105%;
    transition: all .35s ease;
    /* transform: scale(1); */
}

#section-three .main-div .content-div .image1 img:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.233)
}

#section-three .main-div .content-div .image1 h2 {
    font-size: 22px;
    color: #3695eb;
    margin-top: 25px;
}

#section-three .main-div .btn-div {
    display: flex;
    justify-content: center;
}

#section-three .main-div .btn-div button {
    /* border: 1px solid; */
    padding: 13.5px 38px;
    border: 2px solid #1cd8a1;
    font-size: 13.5px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #1cd8a1;
    word-spacing: 2px;  
    transition: all .4s ease;
}

#section-three .main-div .btn-div button:hover{
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

/* section4 */

#section-four .main-div{
    padding: 90px 40px;
    text-align: center;
}

#section-four .main-div h1{
    font-size: 45px;
    color: #434345;
    padding: 10px 0px 35px 0px;
}

#section-four .main-div .main-content{
    /* height: 90px; */
    /* border: 1px solid; */
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    
}



#section-four .main-content .content1 .header11{
    display: flex;
}

#section-four .main-content .content1 .header11 p {
    margin-top: 20px;
    margin-right: 30px;
    font-size: 15px;
    color: #434345;
    /* letter-spacing: .2px; */
    word-spacing: .7px;
    line-height: 23px;
     text-align: left;

}

#section-four .main-content .content1 .main11 {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    padding: 15px 20px ;
}


#section-four .main-content .content1 .main11 img {
    border-radius: 50px;
}

#section-four .main-content .content1 .main11 .text{
    /* border: 1px solid; */
    margin-top: 0px;
    text-align: left;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
} 

#section-four .main-content .content1 .main11 .text h1 {
    margin-left: 13px;
    font-size: 17px;
    /* border: 1px solid ; */
    height: 0px;
}

#section-four .main-content .content1 .main11 .text h3 {
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
    position: relative;
    bottom: 8px;
    color: #5fa9f8;
}

/* section5 */

#section-five{
     height: 475px;
     background-image: url(image/background2.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

#section-five .main-div {
    /* border: 1px solid red; */
    /* height: 450px; */
    background-color: rgba(54, 149, 235, 0.8);
    padding: 0px 260px 0px 260px;
    display: flex;
    justify-content: space-between;
}

#section-five .main-div .content1 {
    /* border: 1px solid yellow; */
    padding-left: 27px;
    height: 357px;
    margin-top: 116px;
}

#section-five .main-div .content1 h1 {
    font-size: 45px;
    color: #fff;
    padding-bottom: 20px ;
}

#section-five .main-div .content1 P {
    font-size: 22px;
    margin: 20px 0px;
    color: #fff;
}

#section-five .main-div .content1 button {
    padding: 14.9px 19px;
    border: 2px solid #1cd8a1;
    font-size: 13.5px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #1cd8a1;
    word-spacing: 2px;
    margin-top: 20px;
    /* transition: all .4s ease-in; */
}

#section-five .main-div .content1 button:hover{
    border: 2px solid #fff;
    background-color: #fff;
    color: #434345;
      transition: all .2s ease-in;
}

#section-five .main-div .content2 {
    position: relative;
    top: 56px;
    height: 418px;
    margin-right: 60px;

}

#footer-one {
    padding: 40px 20px;
}

#footer-one .main-div{
     padding: 40px 40px; 
     text-align: center;
}

#footer-one .main-div h1 {
    font-size: 45px;
    color: #434345;
    padding: 25px 0px;

}

#footer-one .main-div .content-one{
    /* border: 1px solid; */
    display: flex;
    padding: 0px 31px;
    gap: 22px;
    margin-top: 50px;
}

#footer-one .main-div .content-one .content1{
    /* border: 1px solid red; */
    text-align: left;

}

#footer-one .main-div .content-one .content1 img {
    width: 99%;
    height: 220px;
    transition: all .35s ease;
    transform: scale(1);
}

#footer-one .main-div .content-one .content1 img:hover{
    transition: all 1 ease;
    transform: scale(1.05);
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.20)
}



#footer-one .main-div .content-one .content1 h2 {
    font-size: 30px;
    color: #3695eb;
    margin-top: 30px;
}

#footer-one .main-div .content-one .content1 h3{
    font-size: 14.0625px;
    color: #9b9b9b;
    font-weight: 400;
    margin-top: 10px;
}

#footer-one .main-div .content-one .content1 p{
    color: #434345;
    font-weight: 400;
    margin-top: 25px;
    line-height: 24px;
}

#footer-one .main-div .content-one .content1 .read-more{
   text-align: right;
   margin-top: 30px;
}

#footer-one .main-div .content-one .content1 .read-more span{
    font-size: 17px;
    color: #232324;
    font-weight: 700;
    margin-right: 5px;
}

#footer-two .footer-content{
    /* height: 200px; */
    /* border: 1px solid; */
    padding: 40px 80px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#footer-two .footer-content .content1{
    /* border: 1px solid; */
    margin-top: 20px;
}

#footer-two .footer-content .content1 img {
    padding-bottom: 10px;
}

#footer-two .footer-content .content1 h3 {
    margin-top: 10px;
    font-size: 15px;
    color: #434345;
    letter-spacing: .5px;
    padding-left: 10px;
}

#footer-two .footer-content .content1 h3 span {
    line-height: 23px;
    color: #9b9b9b;
    font-weight: 400;
    /* margin-top: 10px; */
    letter-spacing: normal;
    word-spacing: 1px;
}

#footer-two .footer-content .content1 h2{
    width: 197px;
    font-size: 17px;
    color: #434345;
    /* text-align: left; */
    letter-spacing: .7px;
}

#footer-two .footer-content .content1 #logo111{
    color: #9b9b9b;
    margin-top: 25px;
    /* margin-left: 40px; */
}

#footer-two .footer-content .content1 p{
    padding-left: 25px;
    font-size: 15px;
    margin-top: 30px;
    line-height: 22px;
    letter-spacing: .1px;
    color: #434345;

}

/* #footer-two .footer-content .content1 .footer-content-text button{
    /* display: none; */

#footer-two .footer-content .content1 .social{        font-size: 30px;
     /* border: 1px solid; */
     display: flex; 
     gap: 10px;
     padding-left: 20px;
}

#footer-two .footer-content .content1 .social #social-icon{
    border: 1px solid;
    font-size: 21px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.89);
    color: #fff;
    border-radius: 50px;
    padding: 10px 10px;
    text-align: center;
}